#main{
    display:flex;
    justify-content:space-between;
    width: 90%;
    margin:auto;
    border:1px solid black;
    text-align: center;
    padding: 20px;
  }
  .create-course-btn{
    padding:15px 40px;
    border:none;
    outline:none;
    background:hotpink;
    color:white;
    border-radius: 15px 10px;
    font-size: 24px;
  }
  .module-list div{
    display: flex;
    justify-content: space-around;
    border:1px solid black;
    width: 400px;
  }
  .add-module, .btn{
    height: 40px;
    align-self: center;
    padding:10px 30px;
    background:hotpink;
    border:none;
    outline:none;
    color:white;
    border-radius: 14px 8px;
  
  }
  .add-module:hover{
    border:2px solid hotpink;
    background:none;
    color:black;
  }
  .my-course{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
  }